<div class="panel radius">
  <div class="row">
    <div class="large-3 columns"><%= image_tag(@blog_post.book.item.image_url, class: "small-cover", alt: @blog_post.book.author_and_title, title: @blog_post.book.author_and_title) %></div>
    <div class="large-9 columns">
      <div class="row">
        <div class="large-12 columns">
          <h3><%= @blog_post.book.title %></h3>
          <p>
            <%= @blog_post.book.title %> is available for purchase on Amazon.com. You are welcome to <%= link_to('read the entire original text', book_path(@blog_post.book, page: @blog_post.section.position)) %> for free here on AncientWisdomTexts.com, but if you'd like to browse other editions, please visit Amazon.
           </p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= link_to("View on Amazon", @blog_post.book.item.detail_page_url, class: "button radius expanded") %>
        </div>
      </div>
    </div>
  </div>
</div>
