<h3>To Be Approved</h3>
<% if @pending_approval.any? %>
  <table>
    <thead>
      <tr>
        <th width="200">Post Title</th>
        <th width="50">Approved?</th>
        <th width="150">Publish Date</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @pending_approval.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.approved? %></td>
        <td><%= post.published_at %></td>
        <td><%= link_to('Edit', edit_blog_post_path(post))%></td>
        <td><%= link_to('Delete', blog_post_path(post), data: {confirm: 'Are you sure?'}, method: :delete)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nothing to approve at this time...</p>
<% end %>
<h3>Pending Publication</h3>
<% if @pending_publication.any? %>
  <table>
    <thead>
      <tr>
        <th width="200">Post Title</th>
        <th width="50">Approved?</th>
        <th width="150">Publish Date</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @pending_publication.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.approved? %></td>
        <td><%= post.published_at %></td>
        <td><%= link_to('Edit', edit_blog_post_path(post))%></td>
        <td><%= link_to('Delete', blog_post_path(post), data: {confirm: 'Are you sure?'}, method: :delete)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nothing pending at this time...</p>
<% end %>
<h3>Missing Dates</h3>
<% if @missing_dates.any? %>
  <table>
    <thead>
      <tr>
        <th width="200">Post Title</th>
        <th width="50">Approved?</th>
        <th width="150">Publish Date</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @missing_dates.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.approved? %></td>
        <td><%= post.published_at %></td>
        <td><%= link_to('Edit', edit_blog_post_path(post))%></td>
        <td><%= link_to('Delete', blog_post_path(post), data: {confirm: 'Are you sure?'}, method: :delete)%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No posts with missing dates at this time...</p>
<% end %>

