 <h2>Edit Post</h2>
 <%= simple_form_for @blog_post do |f| %>
   <%= f.input :title %>
   <%= f.input :body, :input_html => {:rows => 20} %>
   <%= f.input :published_at, as: :date %>
   <%= f.input :approved, as: :boolean %>
   <%= f.button :submit %>
 <% end %>
