<div>
  <h3>Welcome to Ancient Wisdom Texts</h3>
  <p style='font-style:italic'>
  Read though these provocative passages from classic texts, get curious, dig deeper. Behind every blog post, there's a complete text, free to read in its entirety. Browse books and authors for more.
  </p>
  <hr>
</div>
<% @blog_posts.each do |post| %>
    <article>
      <h3><%= post.title%></h3>
      <% if post.book.item.present? %>
      <%= link_to image_tag(post.book.item.image_url, class: "thumb left",alt: "New post drawn from #{post.book.author_and_title}", title: "New post drawn from #{post.book.author_and_title}"), blog_post_path(post) %>
      <% end %>
        <div>
          <%= simple_format(post.preview)%>
        </div>
        <%= link_to('Read More', blog_post_path(post)) %>
     </article>
      <hr/>
<% end %>
<%= foundation_paginate @blog_posts %>
