<% content_for :title, "#{@blog_post.title} -- " %>
<h2><%= @blog_post.title %></h2>
<div>
  <% if user_signed_in? and current_user.role == 'admin' %>
  <p><%= link_to('Edit', edit_blog_post_path(@blog_post)) %></p>
  <% end %>
</div>
<div><%= simple_format(@blog_post.body) %></div>
<% if @blog_post.book.item.present? %>
    <%= render "offer" %>
<% else %>
  <div>
      <%= link_to('Read More from the Original Text', book_path(@blog_post.book, page: @blog_post.section.position)) %>
  </div>
<% end %>
