 <h2>Edit Book</h2>
 <%= simple_form_for @book do |f| %>
   <%= f.input :title %>
   <%= f.input :approved, as: :boolean %>
   <%= f.input :content, :input_html => {:rows => 20} %>
   <%= f.button :submit %>
 <% end %>
