<% content_for :title, "#{@book.title} by  #{@book.author.full_name}" %>
<h1><%= @book.title %></h1>
<strong>By <%= @book.author.full_name %></strong>
<%= will_paginate @sections %>
<%= simple_format(@sections.first.content) %>
<%= will_paginate @sections %>
