<div class="row">
  <%= image_tag('logo.png', class: 'logo') %>
</div>
<div>
  <h3>Admin</h3>
  <ul class="side-nav">
   <li><%= link_to('Blog Post Queue', approval_queue_blog_posts_path) %></li>
   <li><%= link_to('Edit Books', admin_index_books_path) %></li>
   <li><%= link_to('Add a New Book', new_book_path) %></li>
   <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
